@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #002339;
  color: #fff;
}
.container {
  width: 90%;
  max-width: 450px;
  margin: 170px auto;
}
.container h1 {
  font-size: 45px;
}
.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}
.randomPass {
  width: 100%;
  background-color: #fff;
  padding: 12px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.randomPass .input {
  border: none;
  outline: none;
  font-size: 24px;
}
.randomPass img {
  width: 30px;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #019f55;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
.btn img {
  width: 20px;
}
